@use '../utilities/' as *;
@use '../base/' as *;

.youtube-container {
  overflow: hidden;
  width: 100%;
  /* Keep it the right aspect-ratio */
  aspect-ratio: 16/9;
  /* No clicking/hover effects */
  pointer-events: none;
} 

.youtube-container iframe {
  /* Extend it beyond the viewport... */
  width: 300%;
  height: 100%;
  /* ...and bring it back again */
  margin-left: -100%;
}

// .video__header__wrapper {
//   width: 100%;
//   height: auto;
//   // aspect-ratio: 16/9;
//   margin: 0;

//   video {
//     object-fit: cover;
//   }
// }

//VIDEO
.videoBlock {
  max-width: auto;
  align-self: center;
}
.videoWrapper {
  padding-top: 0;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 0;
}
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.video__block__wrapper {
  
  @include for-phone {
    padding: 30px 0 0;
  }

  @include for-tablet {
    padding: 50px 0 20px;
  }

  @include for-desktop {
    padding: 50px 0;
  }

  @include for-fullhd {
    padding: 124px 0;
  }
}