@use '../utilities/' as *;
@use '../base/' as *;

.youtube-container {
  overflow: hidden;
  width: 100%;
  /* Keep it the right aspect-ratio */
  aspect-ratio: 16/9;
  /* No clicking/hover effects */
  pointer-events: none;
} 

.youtube-container iframe {
  /* Extend it beyond the viewport... */
  width: 300%;
  height: 100%;
  /* ...and bring it back again */
  margin-left: -100%;
}

.video__block__wrapper {
  
  @include for-phone {
    padding: 30px 0 0;
  }

  @include for-tablet {
    padding: 50px 0 20px;
  }

  @include for-desktop {
    padding: 50px 0;
  }

  @include for-fullhd {
    padding: 124px 0;
  }
}